---
- name: Debian OS
  block:

  # apt install nginx -y
  - name: Ensure Nginx is at the latest version
    ansible.builtin.apt:
      name:
        - nginx
      state: latest
      update_cache: yes
  
  when: ansible_os_family == "Debian"

- name: Redhat OS
  block:

  # dnf install nginx -y
  - name: Ensure Nginx is at the latest version
    ansible.builtin.yum:
      name:
        - nginx
      state: latest
      enabled: yes
  
  when: ansible_os_family == "RedHat"
  
# copy ./conf.d/upstream.conf.j2 /etc/nginx/conf.d/upstream.conf
- name: Template nginx config file
  template:
    src: nginx/conf.d/upstream.conf.j2
    dest: /etc/nginx/conf.d/upstream.conf

# systemctl enable nginx --now
- name: Start Nginx Service
  ansible.builtin.systemd:
    name: nginx
    state: started
    enabled: yes
